<!DOCTYPE html>
html(lang="en")
include views/includes/head
body
  
  h1 Welcome!
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic laboriosam, commodi dolore sit vel accusantium expedita similique minima quisquam doloribus, harum, fugiat officiis. Aliquam deserunt unde, placeat asperiores amet dolore?

  include views/includes/scripts